.book-list, .book-details{
    padding: 3rem 0;
    background-color:white;
}
.book-list-content{
    gap: 3rem;
}
.book-card{
    padding: 3rem 2rem;
    border-radius: 1px;
    background-color: var(--white-color);
    box-shadow: rgba(0,0,0,0.5) 0px 5px 15px 0px;
    transition: var(--transition)
}
.book-card:hover{
    box-shadow: rgba(0, 34, 255, .5) 0px 5px 15px 0px;
}
.book-card-img{
    max-width: 180px;
    margin-right: auto;
    margin-left: auto;
}
.book-card-info{
    margin-top: 2rem;
}
.book-card-title{
    line-height: 1.4;
    margin-bottom: 0.8rem;
}
.book-card-author{
    line-height: 1.4;
    margin-bottom: 4px;
}
.book-card-review{
    line-height: 1.4;
    margin-bottom: 4px;
}
.book-card-rating{
    opacity: 0.6;
    color:blue;
    font-style: italic;
    font-size: 14px;
}

@media screen and (min-width: 600px){
    .book-list-content{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 992px){
    .book-list-content{
        grid-template-columns: repeat(3, 1fr);
    }
    .book-card-img img{
        max-width: 150px;
    }
}
@media screen and (min-width: 992px){
    .book-list-content{
        grid-template-columns: repeat(5, 1fr);
    }
    .book-card-img img{
        max-width: 120px;
    }
}